body {
    background-color: #4e4e4e;
    background-image:url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.person {
    background-image:url(../images/pers-edit16.gif);
}

.x-panel-header {
    background-color: #2e2e2e;
    color: #fff;
    font-size: 18px;
    text-align: left;
}
